*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --intro-email-bg: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonials-bg: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

a {
  color: var(--white);
  text-decoration: none;
  font-weight: lighter;
}

a:hover {
  font-weight: bold;
}

button:hover {
  background: var(--cyan);
}

html {
  font-family: "open sans", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
  background-color: var(--main-bg);
  color: var(--white);
  line-height: 25px;
}

.container {
  width: 1150px;
  max-width: 1400px;
  margin: auto;
}

.nav {
  background-color: var(--intro-email-bg);
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-menu__item {
  list-style-type: none;
  padding: 20px;
}

.nav-menu__item:hover {
  text-decoration: underline;
}

.hero {
  background: var(--intro-email-bg) url(./images/bg-curvy-desktop.svg) bottom no-repeat;
  background-size: 100% 270px;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.hero-heading, .hero-text, .hero-cta {
  text-align: center;
  margin: 15px;
}

.hero-img {
  width: 739px;
  height: 533;
}

.hero-heading {
  width: 742px;
  font-size: 40px;
  margin: 20px 0;
  line-height: 55px;
}

.hero-text {
  width: 600px;
  font-size: 20px;
}

.hero-cta {
  width: 250px;
  height: 50px;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, from(var(--cyan)), to(var(--blue)));
  background: linear-gradient(to right, var(--cyan), var(--blue));
  border-radius: 30px;
  color: var(--white);
  outline: none;
  cursor: pointer;
  border: none;
}

.features {
  margin: 120px;
}

.features-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  /* -ms-grid-columns: repeat(2, 1fr); */
      grid-template-columns: repeat(2, 1fr);
  gap: 90px 150px;
  width: 900px;
  text-align: center;
}

.features-icon, .features-heading, .features-text {
  padding: 5px;
}

.features-heading {
  font-size: 20px;
}

.productive-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px;
}

.productive-img, .productive-text {
  margin: 30px;
  font-weight: lighter;
}

.productive-text {
  margin: 10px;
}

.productive-text__heading {
  font-size: 30px;
  padding-bottom: 10px;
  line-height: 35px;
  width: 300px;
}

.productive-text__paragraph {
  padding-bottom: 10px;
}

.productive-text__link {
  padding-top: 20px;
  color: var(--cyan);
  text-decoration: underline;
}

.productive-text__link:hover {
  color: var(--white);
  text-decoration: underline;
  font-weight: lighter;
}

.testimonial {
  margin: 150px 0;
}

.testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  height: 180px;
  background-color: var(--testimonials-bg);
  margin: 12px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px var(--intro-email-bg);
          box-shadow: 5px 5px 10px var(--intro-email-bg);
}

.testimonial-card__testimony {
  color: inherit;
  margin: 20px;
  font-size: 14.2px;
  line-height: 1.5;
}

.testimonial-card__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 130px;
  margin-bottom: 30px;
}

.testimonial-card__profile .profile-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.testimonial-card__profile .profile-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 15px;
}

.testimonial-card__profile .profile-detail .name {
  font-weight: bold;
  font-size: 10px;
}

.testimonial-card__profile .profile-detail .post {
  font-weight: lighter;
  font-size: 10px;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -80px;
}

.signup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 750px;
  height: 250px;
  background: var(--intro-email-bg);
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px var(--footer-bg);
          box-shadow: 5px 5px 10px var(--footer-bg);
  padding: 50px;
  text-align: center;
}

.signup-heading {
  font-size: 25px;
  margin-bottom: 20px;
}

.signup-text {
  margin-bottom: 20px;
}

.signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.signup-form__input, .signup-form__btn {
  border-radius: 30px;
  height: 40px;
  margin: 10px;
  border: none;
  outline: none;
}

.signup-form__input {
  background-color: var(--white);
  width: 400px;
  margin: 10px;
  text-indent: 30px;
}

.signup-form__btn {
  background: -webkit-gradient(linear, left top, right top, from(var(--cyan)), to(var(--blue)));
  background: linear-gradient(to right, var(--cyan), var(--blue));
  color: var(--white);
  width: 175px;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--footer-bg);
  min-height: 350px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.footer-logo {
  width: 100px;
  height: 30px;
  margin-bottom: 50px;
}

.footer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-details__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-details__address .location-icon {
  width: 10px;
  height: 12px;
  margin-right: 15px;
}

.footer-details__contact .item {
  list-style-type: none;
}

.footer-details__contact .item:first-child {
  padding-bottom: 10px;
}

.footer-details__list1 li, .footer-details__list2 li {
  list-style-type: none;
  padding-bottom: 10px;
}

.footer .attribution {
  margin: 25px;
}

@media only screen and (max-width: 414px) {
  html {
    font-size: 10px;
    line-height: 25px;
  }
  .container {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav-logo img {
    width: 100px;
    height: 30px;
    margin-left: 10px;
  }
  .nav-menu {
    font-size: 14px;
  }
  .hero-img {
    width: 310px;
    height: 225px;
  }
  .hero-heading {
    width: 320px;
    font-size: 25px;
    line-height: 35px;
  }
  .hero-text {
    width: 320px;
    font-size: 14px;
    padding: 0 23px;
  }
  .features-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .features-heading {
    font-size: 20px;
    width: 300px;
  }
  .features-text {
    font-size: 16px;
    width: 310px;
  }
  .productive-container {
    min-width: 375;
    margin: auto;
  }
  .productive-img {
    width: 350px;
    height: 250px;
  }
  .productive-text {
    padding: 20px;
  }
  .productive-text__heading {
    font-size: 18px;
  }
  .productive-text__paragraph {
    font-size: 14px;
  }
  .productive-text__link {
    font-size: 12px;
  }
  .testimonial-card__testimony {
    font-size: 12px;
    width: 265px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .testimonial-card__profile {
    margin-top: 10px;
  }
  .signup-container {
    width: 320px;
    height: 350px;
  }
  .signup-heading {
    font-size: 18px;
  }
  .signup-text {
    font-size: 11.8px;
    line-height: 1.5;
  }
  .signup-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .signup-form__input, .signup-form__btn {
    width: 250px;
  }
  .footer-container {
    font-size: 16.5px;
    font-weight: lighter;
  }
  .footer-logo {
    margin: 40px;
    width: 155px;
    height: 45px;
  }
  .footer-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px 20px 20px;
  }
  .footer-details__address, .footer-details__contact {
    padding: 10px;
  }
  .footer-details__contact .item {
    padding: 10px;
  }
  .footer-details__list1, .footer-details__list2 {
    padding: 25px 30px 25px 10px;
  }
}
/*# sourceMappingURL=main.css.map */